extends layout 

block content 
    p 
        a(href='/create' class='add') Add a New Player
    table(class='gridtable')
        tr  
            th Player
            th Wins 
        each item in people
            tr 
                td #{item.name}
                    //- a(href='/details/' + item.name) #{item.name}
                td ##