<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='\style.css' rel='stylesheet' />
  <title>Tercerio Join</title>
  <link rel="icon" href="\logo2.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
  
  <div class="title">
    Join a Game
  </div>
  <br>
  <h3 class="title3">
    Click to join Room 
  </h3>

  <div id="left">
  </div>

  <script src='/script.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js'></script>
  <script src="./animation.js"></script>
</body>
</html>