doctype 
html 
    head 
        title= `Tercerio`
        link(href='/logo2.jpg' rel='icon')
        link(href='/style.css' rel='stylesheet')
    body 
        h1='Tercerio'
         
        table 
            tr 
                th 
                    img(src='/logo.jpg' id='logo')
                th
                    a(href='/join') Join a Game
                th  
                    a(href='/start?') Start a Game
                th
                    h3=title
                    block content