doctype 
html 
    head 
        title= `Tercerio`
        link(href='/logo2.jpg' rel='icon')
        link(href='/style.css' rel='stylesheet')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")

    body(class='plaid-gradient') 
        div(class='title') Tercerio
        br
        div(class='layout') 
            div
                img(src='/logo.jpg' id='logo') 
            div
                a(href='/start?') 
                    button(class='btns') Start Game
                br
                a(href='/join') 
                    button(class='btns') Join Game
            div
                table 
                    tr 
                        th
                            h3(class='title3')=title
                            block content
        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js')
        script(src="./animation.js")