<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='\style.css' rel='stylesheet' />
    <title>Tercerio</title>
    <link rel="icon" href="\logo2.jpg">
</head>
<body id='main'>

    <div class="board">

        <div class='deck1' id="uDeck"></div>
        <div class='deck2'><img id='rDeck' src='/Images/logo.jpg'/></div>

    </div>
    <script src="script2.js"></script>
</body>
</html>